* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* =========== IMPORTS =========== */
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

/* =========== GLOBAL STYLES =========== */

h1,
h2,
h3,
h4,
p.highlight,
p.logo {
	font-family: "Roboto Bold";
}

h1 {
	font-size: 4.5rem;
	font-size: clamp(1rem, 4.5rem, 5rem);
	margin: 2vh 0;
}

h2 {
	font-size: clamp(1.7rem, 3.5rem, 50px);
}

h3 {
	line-height: 3rem;
}

h4 {
	color: $secondary-color;
	font-size: 4.5rem;
	margin-bottom: 5vw;
}

.lrg {
	font-size: 1.4rem;
}

p {
	font-size: 1.1rem;
	line-height: 2.2rem;
}

.emoji {
	width: 40px;
	height: 40px;
}

html {
	min-width: 425px;
	transition: ease all 0.4s;
}

body {
	font-family: "Roboto Regular";
	color: $main-color;
}

/* =========== (1) HEADER =========== */

header {
	position: absolute;
	img {
		position: fixed;
		top: 2rem;
		left: 2rem;
		height: 40px;
	}
	p.logo {
		font-size: clamp(0.8rem, 1.5rem, 2rem);
		line-height: 1.5rem;
		margin: 2rem 6rem;
		span {
			display: block;
			font-size: clamp(0.4rem, 0.8rem, 1.5rem);
		}
	}
}
/* =========== (2) MAIN =========== */

/* =========== (2.1) HERO =========== */

.hero {
	height: 100vh;
	background: url("../img/ilustracion1.png") top right / 55% no-repeat;
	display: flex;
	padding-left: 9vw;
	article {
		align-self: end;
		p.highlight {
			font-size: 0.9rem;
			color: $highlight-color;
			margin: 7vw 0;
		}
	}
	img.man {
		width: 50%;
		height: 45vw;
		object-fit: cover;
		object-position: 90%;
		transition: ease-in-out all 0.4s;
		&:hover {
			transform: translateY(15px);
		}
	}
}

/* =========== (3) GALLERY =========== */

.gallery {
	img {
		width: 100%;
		margin-bottom: 10vw;
	}
}

/* =========== (4) REASON =========== */

.reason {
	display: flex;
	flex-wrap: wrap;
	gap: 2vh;
	padding: 0 12vw;
	margin: 10vw 0;
	h2 {
		width: clamp(400px, 30vw, 400px);
	}
	p {
		width: clamp(400px, 45vw, 600px);
	}
}

/* =========== (2.5) LEARNINGS =========== */

.learnings {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 4vw;
	padding: 0 12vw;
	align-items: center;
	justify-items: end;
	h2 {
		grid-column: 1/3;
		justify-self: start;
		align-self: start;
		margin-block: 1vw 10vw;
		width: clamp(420px, 50vw, 650px);
	}
	article {
		display: flex;
		align-items: flex-start;
		width: clamp(400px, 32vw, 450px);
		.icon {
			width: 30px;
			height: 30px;
			margin-right: 1.5rem;
		}
	}
}

/* =========== (2.6) CHALLENGE =========== */

.challenge {
	text-align: center;
	width: clamp(400px, 50%, 800px);
	margin: 15vh auto;
	h2 {
		margin-bottom: 4vw;
	}
}

.challenge-instructions {
	padding: 0 9vw;
	article {
		display: flex;
		gap: 5vw;
		margin-bottom: 10vw;
		img:not(.emoji) {
			flex: 0.5 1 auto;
			width: 45%;
			height: 50%;
		}
	}
	article:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

/* =========== (3) FOOTER with CONTACT FORM =========== */

footer {
	margin: 0 9vw;
	text-align: center;
	form {
		h2 {
			margin: 10vh 0;
		}
		input {
			display: block;
			margin: 3vw auto;
		}
		input[type="email"] {
			border: 1px solid #f5f5f5;
			border-radius: 3px;
			box-shadow: 0px 10px 100px $secondary-color;
			padding: 2vw 15vw;
			font-size: 1.3rem;
		}
		input[type="submit"] {
			@include btn(3px, $highlight-color, 1rem 5rem, none);
			font-size: 1.2rem;
			&:hover {
				background: linear-gradient(to right, $highlight-color, $blue);
				cursor: pointer;
			}
		}
	}

	/* =========== (3.1) CONFIRMATION POP UP =========== */

	.confirmation {
		display: none;
		background-color: $white;
		margin: auto;
		box-shadow: 0px 10px 100px $secondary-color;
		width: fit-content;
		padding: 5vw;
		h2 {
			margin: 5vh 0;
			font-size: 3rem;
		}
		p {
			margin: 2vh 0;
		}
		button {
			transition: ease 0.3s all;
			@include btn(5px, $blue, 1vw 2vw, none);
			&:hover,
			:active {
				background-color: $highlight-color;
				cursor: pointer;
			}
		}
	}
	p.credits {
		margin-block: 20vh 2vh;
		text-align: left;
	}
}

/* =========== (4) MEDIA QUERIES =========== */

@media only screen and (max-width: 992px) {
	/* responsive font-size */
	html {
		font-size: 14px;
	}
	/* HERO */

	.hero {
		flex-wrap: wrap-reverse;
		justify-content: flex-end;
		align-items: start;
		article {
			margin-right: 9vw;
		}
		img.man {
			width: 50%;
			object-fit: cover;
		}
	}

	/* LEARNINGS */

	.learnings {
		display: flex;
		flex-direction: column;
	}

	/* CHALLENGE */

	.challenge-instructions {
		width: 100%;
		article {
			flex-wrap: wrap;
		}
	}
}
