/* =========== MIXINS =========== */

@mixin btn($bdradius, $bgColor, $padding, $border) {
	border-radius: $bdradius;
	background-color: $bgColor;
	padding: $padding;
	border: $border;
	color: $white;
}
